<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>
        {% block title %}
        Gestión de restaurante
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'gestion/styles.css' %}">
</head>

<body>

<header>
    Gestión restaurante
</header>

<div class="main">

    <div class="sidebar">

        <a href="/inicio/">Inicio</a>

        {% if user.is_authenticated %}

            <!-- ADMINISTRADOR -->
            {% if user.perfil.rol.nombre == "Administrador" %}

                <a href="/clientes/">Clientes</a>

                <a href="/empleados/">Empleados</a>

                <a href="/mesas/">Mesas</a>

                <a href="/platos/">Platos</a>

                <a href="/ordenes/">Órdenes</a>

                <a href="/facturas/">Facturas</a>

                <!-- NUEVOS BOTONES -->

                <a href="/usuarios/">
                    Usuarios
                </a>

                <a href="/reportes/">
                    Reportes
                </a>

                <a href="/configuracion/">
                    Configuración
                </a>

                <a href="/admin/">
                    Admin Django
                </a>

            {% endif %}

            <!-- MESERO -->
            {% if user.perfil.rol.nombre == "Mesero" %}

                <a href="/clientes/">Clientes</a>

                <a href="/platos/">Platos</a>    
            
                <a href="/mesas/">Mesas</a>

                <a href="/ordenes/">Órdenes</a>

            {% endif %}

            <!-- CAJERO -->
            {% if user.perfil.rol.nombre == "Cajero" %}

                <a href="/ordenes/">Órdenes</a>
                <a href="/facturas/">Facturas</a>

            {% endif %}

            <a href="/logout/">
                Cerrar sesión
            </a>

        {% endif %}

    </div>

    <div class="contenido">

        <div class="contenedor">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

</body>
</html>